<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Dev Dashboard</p-tab>
    <p-tab value="1">Tailwind</p-tab>
    <p-tab value="2">PrimeNG</p-tab>
    <p-tab value="3">ChartJS</p-tab>
    <p-tab value="4">Misc</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <athena-core-dev-dashboard />
    </p-tabpanel>
    <p-tabpanel value="1">
      <athena-core-tailwind />
    </p-tabpanel>
    <p-tabpanel value="2">
      <athena-core-primeng />
    </p-tabpanel>
    <p-tabpanel value="3">
      <athena-core-prime-charts />
    </p-tabpanel>
    <p-tabpanel value="4">
      <athena-core-misc />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
