<p-tabs value="0">
  <p-tablist>
      <p-tab value="0">Tailwind</p-tab>
      <p-tab value="1">PrimeNG</p-tab>
      <p-tab value="2">ChartJS</p-tab>
      <p-tab value="3">Misc</p-tab>
  </p-tablist>
  <p-tabpanels>
      <p-tabpanel value="0">
        <athena-c-tailwind/>
      </p-tabpanel>
      <p-tabpanel value="1">
        <athena-c-primeng/>
      </p-tabpanel>
      <p-tabpanel value="2">
        <athena-c-charts/>
      </p-tabpanel>
      <p-tabpanel value="3">
        <athena-c-misc/>
      </p-tabpanel>
  </p-tabpanels>
</p-tabs>

