<main class="main">
  <div class="card">
    <div class="dock-window">
        <p-dock [model]="items" [position]="'bottom'">
          <ng-template #item let-item>
            <img
              [pTooltip]="item.label"
              tooltipPosition="top"
              [src]="item.icon"
              [alt]="item.label"
              width="100%"
              (click)="onDockItemClicked(item)"
            />
          </ng-template>
          @for (item of items; track item) {

          }
        </p-dock>
    </div>
</div>

  <router-outlet />
</main>

