<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">Athena Toolkit<br /></span>
    <span class="text-violet-600">A Full-Stack Self-Hostable suite of tools</span>
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-desktop text-4xl text-violet-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Built for Developers</div>
      <span class="text-700 line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-github text-4xl text-primary-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Dev Space</div>
      <span class="text-700 line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
    </div>
  </div>
</div>
